<section class="footer">

  <div class="footer-content row">
    <div class="col span-1-of-4">
      <h3>lorem2</h3>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
    </div>
    <div class="col span-1-of-4">
      <h3>lorem2</h3>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
    </div>
    <div class="col span-1-of-4">
      <h3>lorem2</h3>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
    </div>
    <div class="col span-1-of-4">
      <h3>lorem2</h3>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
      <li>lorem3</li>
    </div>
  </div>

</section>