<div class="hero-signup-box">
  <div class="title-box row">
    <h1>LOGIN</h1>
  </div>
</div>


<section class="login-section">
  <div class="signup-box row">

    <div class="row">
      <h2>LOGIN</h2>
      <p class="call-to-action">There's lots more you can do logged in. Find out now.</p>
    </div>
    <div class="row">

      <form class="login-form">
        
        <div class="row">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Your email" required>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" placeholder="Your password" required>
        </div>
        <p class="forgot-password"><a href="#">I forgot my password</a></p>

        <a href="" class="btn-full center-btn top">LOGIN</a>
        <p class="switch-to-sign-up">Don't have an account? <a [routerLink]="['/register']">Register here.</a></p>
      </form>

    </div>

  </div>
</section>