<nav stickyNav>
  <div class="row">
    <div class="logo">
      <span>Jobify<i class="ion-ios-pulse"></i></span>
    </div>
    <ul class="main-nav">
      <li><a [routerLink]="['']">HOME</a></li>
      <li><a [routerLink]="['/jobs/listings']">FIND A JOB</a></li>
      <li><a [routerLink]="['/submit-your-resume']">SUBMIT RESUME</a></li>
      <li><a [routerLink]="['/login']">LOGIN</a></li>
      <li class="btn-signup-ghost"> <a [routerLink]="['/register']">SIGN UP</a></li>
    </ul>
  </div>
</nav>