<div class="hero-signup-box">
  <div class="title-box row">
    <h1>Register Account</h1>
  </div>
</div>


<section class="register-section">
  <div class="signup-box row">

    <div class="row">
      <h2>SIGN UP</h2>
      <p class="call-to-action">There's lots more you can do logged in. Find out now.</p>
    </div>
    <div class="row">

      <form class="register-form">
        <div class="row">
            <label for="fname">First name</label>
            <input type="text" name="fname" placeholder="Your first name" required>
        </div>
        <div class="row">
            <label for="lastname">Last name</label>
            <input type="text" name="lname" placeholder="Your last name" required>
        </div>

        <div class="row">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Your email" required>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" placeholder="Your password" required>
        </div>
        <div class="row">
            <label for="confirmPassword">Confirm password</label>
            <input type="confirmPassword" placeholder="Confirm password" required>
        </div> 

        <a href="" class="btn-full center-btn top">Sign up</a>
        <p class="switch-to-login">Already have an account? <a [routerLink]="['/login']">Login here.</a></p>
      </form>

    </div>

  </div>
</section>