<div class="block-color"></div>

<div class="google-maps"></div>

<div class="row">

  <form class="job_filters">
    <div class="search_jobs">
      <div class="col span-1-of-4">
        <input type="text" placeholder="Keywords (e.g Ireland, Designer, Company Name)">
      </div>
      <div class="col span-1-of-4">
        <input type="text" placeholder="Location">
      </div>
      <div class="col span-1-of-4">
        <input type="text" placeholder="Category">
      </div>
      <div class="col span-1-of-4">
        <a class="submit_btn">SEARCH</a>
      </div>
    </div>
  </form>

  <div class="refinements col span-1-of-3">
    <div class="sort-by">
      <h3>SORT BY:</h3>
      <p>Relevance | DATE</p>
    </div>

    <div class="checkbox col span-2-of-3">
      <div class="col span-1-of-5">
        <i class="ion-ios-checkmark-outline"></i>
        <li>FREELANCE</li>
      </div>
      <div class="col span-1-of-5">
        <i class="ion-ios-checkmark-outline"></i>
        <li>FULL TIME</li>
      </div>
      <div class="col span-1-of-5">
        <i class="ion-ios-checkmark-outline"></i>
        <li>INTERNSHIP</li>
      </div>
      <div class="col span-1-of-5">
        <i class="ion-ios-checkmark-outline"></i>
        <li>PART TIME</li>
      </div>
      <div class="col span-1-of-5">
        <i class="ion-ios-checkmark-outline"></i>
        <li>TEMPORARY</li>
      </div>
    </div>

  </div>

  <!--JOB LISTINGS *ngFor=-->
  <div class="listings_wrapper">



    <ul class="job_listings">
      <li class="job_overview">
        <div class="job_listing_logo col span-1-of-4"><img src="/assets/mockup/img/company-logo-sspace.jpg" alt=""></div>
        <div class="job_listing_about col span-1-of-4">
          <div class="job_position_column">
            <h3 class="job_title">Web Developer</h3>
            <div class="job_listing_company"><strong>MicroSoft</strong></div>
          </div>
        </div>
        <div class="job_listing_location col span-1-of-4">
          <i class="ion-md-locate"></i> New York
        </div>
        <div class="job_listing_duration col span-1-of-4">
          <div class="contract_type">FULL TIME</div>
          <p class="date_posted">17-06-2017</p>
        </div>
      </li>

      <li class="job_overview">
        <div class="job_listing_logo col span-1-of-4"><img src="/assets/mockup/img/company-logo-sspace.jpg" alt=""></div>
        <div class="job_listing_about col span-1-of-4">
          <div class="job_position_column">
            <h3 class="job_title">Web Developer</h3>
            <div class="job_listing_company"><strong>MicroSoft</strong></div>
          </div>
        </div>
        <div class="job_listing_location col span-1-of-4">
          <i class="ion-md-locate"></i> New York
        </div>
        <div class="job_listing_duration col span-1-of-4">
          <div class="contract_type">FULL TIME</div>
          <p class="date_posted">17-06-2017</p>
        </div>
      </li>
    </ul>

  </div>


</div>