<div class="hero-text-box">
  <h1>Work there. Find the dream job<br>you’ve always wanted.</h1>
  <div class="hero-btn-pos">
    <a href="#" class="btn-signup-ghost">find a job</a>
  </div>
  
</div>

<section class="section-features">

  <div class="row">
    <h2>Find the dream job</h2>
    <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, tionimpedit ipsa molestiae perspiciatis repudiandae!</p>
  </div>
  <div class="row">
    <div class="row col span-1-of-4 box">
      <i class="ion-ios-checkmark-outline icon-big"></i>
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nobis nihil ipsum omnis, molestias quidem voluptatibus quaerat nesciunt in quod!</p>
    </div>
    <div class="row col span-1-of-4 box">
      <i class="ion-ios-cloud-upload-outline icon-big"></i>
      <h3>Upload your cv to our cloud</h3>
      <p>Veritatis ipsa ratione aliquam eveniet! Perferendis repellat, reiciendis, quasi enim saepe quas tempora impedit ipsa molestiae perspiciatis repudiandae! Voluptate, dolorum!</p>
    </div>
    <div class="row col span-1-of-4 box">
      <i class="ion-ios-people-outline icon-big"></i>
      <h3>Facilis, quibusdam commodi voluptates.</h3>
      <p>Id ex aliquid ipsa, quam cupiditate facere rerum nobis nesciunt, ea illum, animi obcaecati delectus? Provident blanditiis assumenda aspernatur eligendi.</p>
    </div>
    <div class="row col span-1-of-4 box">
      <i class="ion-ios-briefcase-outline icon-big"></i>
      <h3>Eaque aliquid magni corporis aperiam.</h3>
      <p>Fugit beatae quisquam nulla labore, maxime sit nemo ut. Possimus, eum. Commodi asperiores, animi distinctio, quia laudantium soluta sed hic.</p>
    </div>
  </div>

</section>

<section class="top-talent-section">

  <div class="row">
    <div class="row col span-1-of-2">
      <h2>Find the Best tallent the industry has to offer.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ipsam totam nobis vero architecto numquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam voluptates impedit distinctio rerum molestias, sed mollitia magnam numquam at quo adipisci ipsa dolorum non!</p>
      <a href="" class="btn-signup-ghost center-btn">POST A JOB</a>
    </div>
    <div class="row col span-1-of-2">
      <p>&nbsp;</p>
    </div>
  </div>

  
</section>